*{background-color: peachpuff;}
h1{font-family: cursive}
img {
  height: 200px;
  width: 200px;
}
.color-title {
  font-weight: normal;
}
#red {
  color: red;
}
#blue {
  color: blue;
}
#orange {
  color: orange;
}
#green {
  color: olivedrab;
}
#yellow {
  color: yellow;
}
